<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    auth2
    <div sec:authorize="isAuthenticated()"><!--else문을 모르겠다-->
        <div sec:authentication="name"></div>
            <a href="/mypage">마이페이지</a>
                <a href="/logout">로그아웃</a>
                    <a href="/showreservationpage">예약내역</a>
                    </div>
                    <div th:text="${test}"></div>
                    <div th:text="${testsession}"></div>
                 
</body>
</html>