<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    auth
    <div id="test" th:text="${test}"></div>
    <div id="test2" th:value="${test2}"></div>
    <input type="button"  onclick="doDo()" value="sdsd">
 
<script>
function doajax(url,data,contentType){
    var xhr = new XMLHttpRequest(); //new로 생성
    xhr.open('POST', url, true); //j쿼리 $ajax.({type,url},true가 비동기)
    //xhr.setRequestHeader('Csrf-Token', csrf_token);
    xhr.setRequestHeader("Content-Type",contentType);////이게없으면 psot전송불가 조금 찾았네
    xhr.send(data); /// ajax data부분
    return xhr;
}
function doDo(){
    var xhr,url='/auth/home4';
    alert(document.getElementById('test2').value);
    var data=JSON.stringify({"test":""+document.getElementById('test2').value+""});
    var contentType="application/json";
    xhr=doajax(url,data,contentType);
    xhr.onload = function() { 
        if(xhr.status==200){ // success:function(data)부분 통신 성공시 200반환
        location.href=xhr.response;
        }else{
            alert('통신에 실패했습니다');
        }
    }  
}    
</script>  
</body>
</html>